# Build output
build
sim_build

# Common editor/IDE config and temporary files
.project
.vscode/
.sw[a-p]
tags
*~
.DS_Store

# binary outputs
*.bin
*.elf
*.hex
*.so
*.o
*.vpi
*.vvp

# other outputs
*.log
*.egg-info
*.doit*
*.vcd
__pycache__
obj_dir

# Python cache files
__pycache__
