# Build output
build

# Example dependencies
/examples/deps

# Common editor/IDE config and temporary files
.project
.vscode/
.sw[a-p]
tags
*~
.DS_Store
compile_flags.txt

# binary outputs
*.bin
*.elf
*.hex
*.so
*.o
*.d
*.vpi
*.vvp
*.out
*.dSYM
*.swp

# other outputs
*.log
*.egg-info
*.doit*
*.vcd
*.fst
*.fst.hier
results.xml
obj_dir
.pytest_cache
*.mt0

# queues
queue-*
*.q

# Python cache files
__pycache__

# act secrets
.secrets
