# Build output
build

# Common editor/IDE config and temporary files
.project
.vscode/
.sw[a-p]
tags
*~
.DS_Store
compile_flags.txt

# binary outputs
*.bin
*.elf
*.hex
*.so
*.o
*.vpi
*.vvp

# other outputs
*.log
*.egg-info
*.doit*
*.vcd
results.xml
obj_dir
.pytest_cache

# Python cache files
__pycache__
