[submodule "interposer/verif/sw/riscv-tests/riscv-tests"]
	path = interposer/verif/sw/riscv-tests/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "interposer/verif/verilog/verilog-axi"]
	path = interposer/verif/verilog/verilog-axi
	url = https://github.com/alexforencich/verilog-axi.git
