# Copyright (c) 2024 Zero ASIC Corporation
# This code is licensed under Apache License 2.0 (see LICENSE for details)

name: Docs
on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
    contents: write
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
            python-version: '3.11'
      - name: Install switchboard
        run: |
            pip install --upgrade pip
            pip install -e .[docs]
      - name: Sphinx build
        run: |
          sphinx-build docs/source/ docs/build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/
          force_orphan: true
