# Copyright (c) 2024 Zero ASIC Corporation
# This code is licensed under Apache License 2.0 (see LICENSE for details)

# can run locally with: "act --rm pull_request"
# see https://github.com/nektos/act

name: Regression
on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  verilator:
    name: Verilator
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/siliconcompiler/sc_runner:latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Install Switchboard Python package
        run: |
          pip3 install -e .[test]
          pip3 install -r examples/requirements.txt

      - name: Run pytest
        working-directory: examples
        run: |
          pytest --durations=0 -s

      - name: Run tests
        working-directory: tests
        run: |
          make > out.log
          cat out.log
          grep -Fxq "PASS" out.log

      - name: Run TCP tests
        working-directory: tests
        run: |
          make TCP=1

  # FPGA SIM TEMPORARILY DISABLED
  #fpga_sim:
  #  name: FPGA queue simulation
  #  runs-on: ubuntu-latest
  #  container:
  #    image: ghcr.io/zeroasiccorp/sbtest:latest
  #  timeout-minutes: 5
  #  steps:
  #    - uses: actions/checkout@v6
  #      with:
  #        submodules: true

  #    - name: Install Switchboard Python package
  #      run: |
  #        pip3 install .

  #    - name: Setup GIT to pull from https
  #      working-directory: examples
  #      run: |
  #        git config --global --add url."https://github.com/".insteadOf git@github.com:


  #    - name: Run FPGA loopback simulation
  #      working-directory: examples/fpga_loopback
  #      run: |
  #        make test > out.log
  #        cat out.log
  #        grep -Fxq "PASS" out.log
