# can run locally with: "act --rm pull_request"
# see https://github.com/nektos/act

name: Regression
on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  verilator:
    name: Verilator
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/zeroasiccorp/sbtest:0.0.7
      credentials:
         username: ${{ secrets.ZA_ACTOR }}
         password: ${{ secrets.ZA_TOKEN }}
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.ZA_TOKEN }}
          submodules: recursive

      - name: Install Switchboard Python package
        run: |
          pip3 install .

      - name: Run Python binding test
        working-directory: examples/python
        run: |
          make > out.log
          cat out.log
          grep -Fxq "PASS!" out.log

      - name: Run Python binding test (UMI)
        working-directory: examples/umiram_python
        run: |
          make > out.log
          cat out.log
          grep -Fxq "PASS!" out.log

      - name: Run Icarus simulation
        working-directory: examples/minimal-icarus
        run: |
          make > out.log
          cat out.log
          grep -Fxq "PASS!" out.log

      - name: Run Verilator simulation
        working-directory: examples/riscv-grid
        run: |
          make hello > out.log
          cat out.log
          grep -Fxq "Hello World!" out.log

      - name: Run torture tests
        working-directory: tests
        run: |
          make torture > out.log
          cat out.log
          grep -Fxq "PASS" out.log

  fpga_sim:
    name: FPGA queue simulation
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/zeroasiccorp/sbtest:0.0.7
      credentials:
         username: ${{ secrets.ZA_ACTOR }}
         password: ${{ secrets.ZA_TOKEN }}
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.ZA_TOKEN }}
          submodules: recursive

      - name: Install Switchboard Python package
        run: |
          pip3 install .

      - name: Run FPGA loopback simulation
        working-directory: examples/fpga-loopback
        run: |
          make test > out.log
          cat out.log
          grep -Fxq "PASS" out.log
